In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
dataset = 'Sample Dataset (1).xlsx'
sheet = pd.read_excel(dataset, sheet_name='Customers Sheet')
sheet

    _CustomerID   Customer Names
0             1        Avon Corp
1             2        WakeFern
2             3     Elorac, Corp
3             4        ETUDE Ltd
4             5     Procter Corp
5             6    PEDIFIX, Corp
6             7          New Ltd
7             8     Medsep Group
8             9              Ei
9            10         21st Ltd
10           11       Apollo Ltd
11           12         Medline
12           13        Ole Group
13           14           Linde
14           15    Rochester Ltd
15           16        3LAB, Ltd
16           17       Pure Group
17           18    Eminence Corp
18           19       Qualitest
19           20
20           21            Ohio
21           22         Capweld
22           23           E. Ltd
23           24      Burt's Corp
24           25     Prasco Group
25           26       Mylan Corp
26           27       Wuxi Group
27           28       Dharma Ltd
28           29    Apotheca, Ltd
29           30     S.S.S. Group
30           31      Uriel Group
31           32      OHTA'S Corp
32           33          Trigen
33           34          OUR Ltd
34           35     Amylin Group
35           36         O.E. Ltd
36           37  AuroMedics Corp
37           38       Ascend Ltd
38           39      Victory Ltd
39           40          Select
40           41      Weimei Corp
41           42      Llorens Ltd
42           43   Exact-Rx, Corp
43           44        Winthrop
44           45           Nipro
45           46         U.S. Ltd
46           47   Niconovum Corp
47           48     Fenwal, Corp
48           49            Bare
49           50         Sundial

In [11]:
sheet[sheet["Customer Names"]==" "]

    _CustomerID Customer Names
19           20

In [12]:
sheet["Customer Names"] = sheet["Customer Names"].replace(" ", "Anonymous")

In [13]:
sheet[sheet["Customer Names"]==" "]

Empty DataFrame
Columns: [_CustomerID, Customer Names]
Index: []