In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [29]:
dataset = pd.read_excel("Sample Dataset (1).xlsx")

In [30]:
dataset

,OrderNumber,Sales Channel,WarehouseCode,ProcuredDate,OrderDate,ShipDate,DeliveryDate,CurrencyCode,SalesTeam Code,Customer Code,Store Code,Product Code,Order Quantity,Discount Applied,Unit Price,Unit Cost
0,SO - 000101,In-Store,WARE-UHY1004,2017-12-31,2018-05-31,2018-06-14,2018-06-19,USD,6,15,259,12,5.0,0.075,1963.1,1001.181
1,SO - 000102,Online,WARE-NMK1003,2017-12-31,2018-05-31,2018-06-22,2018-07-02,USD,14,20,196,27,3.0,0.075,3939.6,3348.660
2,SO - 000103,Distributor,WARE-UHY1004,2017-12-31,2018-05-31,2018-06-21,2018-07-01,USD,21,16,213,16,1.0,0.050,1775.5,781.220
3,SO - 000104,Wholesale,WARE-NMK1003,2017-12-31,2018-05-31,2018-06-02,2018-06-07,USD,28,48,107,23,8.0,0.075,2324.9,1464.687
4,SO - 000105,Distributor,WARE-NMK1003,2018-04-10,2018-05-31,2018-06-16,2018-06-26,USD,22,49,111,26,8.0,0.100,1822.4,1476.144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7477,SO - 0007581,Distributor,WARE-UHY1004,2020-06-18,2020-10-31,2020-11-10,2020-11-14,USD,24,24,229,31,1.0,0.100,998.3,628.929
7478,SO - 0007582,In-Store,WARE-UHY1004,2020-06-18,2020-10-31,2020-11-05,2020-11-08,USD,7,1,238,26,3.0,0.100,3932.9,2831.688
7479,SO - 0007583,In-Store,WARE-XYS1001,2020-06-18,2020-10-31,2020-11-10,2020-11-16,USD,4,24,58,5,2.0,0.150,3698.4,3106.656
7480,SO - 0007584,In-Store,WARE-NMK1003,2020-06-18,2020-10-31,2020-11-08,2020-11-11,USD,10,42,113,24,5.0,0.200,1788.9,966.006
7481,SO - 0007585,In-Store,WARE-NMK1003,2020-06-18,2020-10-31,2020-11-23,2020-11-28,USD,9,33,187,8,6.0,0.050,971.5,777.200

In [31]:
dataset[dataset["ProcuredDate"]>dataset["OrderDate"]]

Empty DataFrame
Columns: [OrderNumber, Sales Channel, WarehouseCode, ProcuredDate, OrderDate, ShipDate, DeliveryDate, CurrencyCode, SalesTeam Code, Customer Code, Store Code, Product Code, Order Quantity, Discount Applied, Unit Price, Unit Cost]
Index: []

This means that the demand and supply kind of needs are fullfilled and no order is placed before the item is procured in warehouses of the company/retail store.

In [32]:
from datetime import timedelta
delay_df = pd.DataFrame(dataset["DeliveryDate"]-dataset["OrderDate"])
delay_df[delay_df[0]>timedelta(days=10)]
# type(delay_df[0][0])

           0
0    19 days
1    32 days
2    31 days
4    26 days
5    13 days
...      ...
7475 19 days
7477 14 days
7479 16 days
7480 11 days
7481 28 days

[6501 rows x 1 columns]

In [33]:
ans = (981/7482)*100
ans

13.111467522052928